[package]
name = "jobs_done"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.42"
colored = "3.0.0"
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
